{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='flatly.css')}}">
{% endblock %}

{% block title %}Programming IoT TuteLab 06 - Part 1{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library Admin System</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class ="active"><a href="#">List all books</a></li>
    </ul>
  </div>
</nav>
<ul>
{% endblock %}
{% block content %}
{% for book in books %}
<li>
  <h3>{{book["title"]}}</h3>
  <h4> by {{book["author"]}}</h4>
<button class = "btn">Edit</button>
<button class = "btn btn-danger">Delete</button>
</li>
{% endfor %}
</ul>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
